/*
Base CSS
 */

html {
    background: var(--page-bg);
    color: var(--text-primary);
}

body {
    font-family: var(--font-paragraph), sans-serif;
    color: var(--text-primary);
    background: var(--page-bg);
}

main {
    flex: 1;
}

h1 {
    margin-block: 0.5rem;
    font-size: 2rem;
}

h2 {
    margin-block: 0.8rem;
}

h3 {
    margin-block: 0.8rem;
}

h4 {
    margin-block: 0.8rem;
}

p, a {
    font-family: var(--font-paragraph), sans-serif;
}

h1 {
    font-family: var(--font-heading), sans-serif;
    font-weight: 600;
}

h2 {
    font-family: var(--font-heading), sans-serif;
    font-weight: 500;
}

h3 {
    font-family: var(--font-heading), sans-serif;
    font-weight: 400
}

h4 {
    font-family: var(--font-heading), sans-serif;
    font-weight: 400;
}
