/* Home page */

.home-hero h1,
.home-hero p {
    /*border: rgb(80, 80, 80) solid 1px;*/
    text-align: center;
}

.home-hero__content {

}

.home-hero__title {
}

.home-hero__text {

}

.home-hero__text__highlight {
    color: var(--text-highlight);
    font-weight: 400;
}

.about-preview {

}

.section--tech-stack .card {
    /*border: none;*/
}
