.root-layout {
    /*min-height: 100vh;*/
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.page-layout h1 {
    text-align: center;
}

.site-main {
}

.container {
    width: min(100% - 2rem, 1200px);
    margin-inline: auto;
    /*background: red;*/
}
